#map {
	height: 60%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: -10%;
}

th {
	font-size: 14px;
}

td {
	font-size: 14px;
}

.dataTables_length select {
	font-size: 14px;
}

;
.dataTables_filter input {
	font-size: 14px;
}
;